html,
body {
  width: 1200px;
  height: 1170px;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  background-color: #000000;
  margin-bottom: 60px;
}
.main-navigation {
  width: 780px;
  height: 70px;
}
.logo {
  float: left;
  width: 115px;
  margin-right: 5px;
}
.nav {
  float: left;
  width: 505px;
  margin-right: 5px;
}
.user-block {
  float:right;
  width: 50px;
}
.title {
  height: 100px;
  margin-bottom: 20px;
}
.content {
  background: url("light-pattern.png") repeat 100%;
  width: 1000px;
  height: 685px;
}
form {
  float: left;
  height: 570px;
  width: 160px;
}
.content-cards {
  float: right;
  margin-top: 35px;
  margin-left: 50px;
}
article {
  float:left;
  width: 220px;
  height: 285px;
  margin-right: 20px;
}
.goods1 article{
margin-bottom: 50px;
}
.goods2 article{
  margin-bottom: 50px;
}
.main-footer {
  display: table;
  clear:both;
  margin-top: 50px;
  height: 180px;
  width: 1200px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 50px;
}
.footer-social {
  float: left;
  width: 180px;
}
.footer-copyright {
  float: right;
  width: 180px;
}

/* Для item.html */
.gallery {
  float: left;
  margin-bottom: 20px;
}
.gallery li {
  float:left;
}



body {
  font-size: 14pt;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: PTSans NarrowBold, sans-serif;
}
h1 {
  font-size: 30pt;
  font-style: normal;
}
h2 {
  font-size: 24pt;
  font-style: normal;
}
h3 {
  font-size: 14pt;
  font-style: normal;
}
li {
  list-style: none;
}
.main-navigation li {
  display: inline;
  margin-right: 5px;
}
.main-navigation a {
  color: #ffffff;
}
.breadcrumbs li {
  display: inline;
  margin-right: 5px;
}
