body {font-size: 14pt;
      line-height: normal;
      color: #000000;
      font-weight: bold;
      font-family: PTSans NarrowBold, sans-serif;
}
h1 {font-size: 30pt;
    font-style: normal;}
h2 {font-size: 24pt;
    font-style: normal;}
h3 {font-size: 14pt;
    font-style: normal;}        
